html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: sans-serif;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  background-color: #eee9de;
  overflow: hidden;
  display: block;
  text-align: center;
}

img {
  max-width: 25em;
  display: block;
  text-align: inherit;
}

h1{
  font-weight: bold;
}

.content {
  max-width: 25em;
  padding: .4em;
  display: inline-block;
  text-align: left;
}

.link {
  display: inline-block;
  border: 3px solid #333;
  list-style-type: none;
  padding: .75em;
  border-radius: 5px;
  text-align: left;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: black
}

.link:hover {
  background-color: #666;
  color: #fff;
}
